<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>


<form action="">
  <input type="email" frictionless="email" placeholder="enter an email">
  <input type="text" frictionless="person.name.givenName">
  <input type="text" frictionless="person.name.familyName">
  <input type="text" frictionless="person.name.fullName">
  <input type="text" frictionless="company.name">
  <input type="text" frictionless="company.domain">
  <input type="text" frictionless="company.metrics.employees" frictionless-mapping="customMappingSize">
</form>
