// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family: 'Segment Circular Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #425E78;
  font-size: 16px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
}
